apiVersion: operators.coreos.com/v1alpha1
kind: ClusterServiceVersion
metadata:
  annotations:
    alm-examples: |-
      [
        {
          "apiVersion": "nodetopology.openshift.io/v1alpha1",
          "kind": "NUMAResourcesOperator",
          "metadata": {
            "name": "numaresourcesoperator"
          },
          "spec": {
            "nodeGroups": [
              {
                "machineConfigPoolSelector": {
                  "matchLabels": {
                    "pools.operator.machineconfiguration.openshift.io/worker": ""
                  }
                }
              }
            ]
          }
        },
        {
          "apiVersion": "nodetopology.openshift.io/v1alpha1",
          "kind": "NUMAResourcesScheduler",
          "metadata": {
            "name": "numaresourcesscheduler"
          },
          "spec": {
            "imageSpec": "quay.io/openshift-kni/scheduler-plugins:4.12-snapshot"
          }
        }
      ]
    capabilities: Basic Install
    olm.skipRange: '>=4.11.0 <4.12.0'
    operators.operatorframework.io/builder: operator-sdk-v1.12.0+git
    operators.operatorframework.io/project_layout: go.kubebuilder.io/v3
  name: numaresources-operator.v4.12.999-snapshot
  namespace: placeholder
spec:
  apiservicedefinitions: {}
  customresourcedefinitions:
    owned:
    - description: NUMAResourcesOperator is the Schema for the numaresourcesoperators
        API
      displayName: NUMA Resources Operator
      kind: NUMAResourcesOperator
      name: numaresourcesoperators.nodetopology.openshift.io
      resources:
      - kind: DaemonSet
        name: ""
        version: v1
      specDescriptors:
      - description: Optional Resource Topology Exporter image URL
        displayName: Optional RTE image URL
        path: imageSpec
        x-descriptors:
        - urn:alm:descriptor:com.tectonic.ui:text
      - description: 'Valid values are: "Normal", "Debug", "Trace", "TraceAll". Defaults
          to "Normal".'
        displayName: RTE log verbosity
        path: logLevel
      - description: Group of Nodes to enable RTE on
        displayName: Group of nodes to enable RTE on
        path: nodeGroups
      statusDescriptors:
      - description: DaemonSets of the configured RTEs, one per node group
        displayName: RTE DaemonSets
        path: daemonsets
      - description: MachineConfigPools resolved from configured node groups
        displayName: RTE MCPs from node groups
        path: machineconfigpools
      version: v1alpha1
    - description: NUMAResourcesScheduler is the Schema for the numaresourcesschedulers
        API
      displayName: NUMA Aware Scheduler
      kind: NUMAResourcesScheduler
      name: numaresourcesschedulers.nodetopology.openshift.io
      resources:
      - kind: Deployment
        name: secondary-scheduler-deployment
        version: v1
      specDescriptors:
      - description: Scheduler container image URL
        displayName: Scheduler container image URL
        path: imageSpec
        x-descriptors:
        - urn:alm:descriptor:com.tectonic.ui:text
      - description: 'Valid values are: "Normal", "Debug", "Trace", "TraceAll". Defaults
          to "Normal".'
        displayName: Scheduler log verbosity
        path: logLevel
      - description: Scheduler name to be used in pod templates
        displayName: Scheduler name
        path: schedulerName
        x-descriptors:
        - urn:alm:descriptor:com.tectonic.ui:text
      statusDescriptors:
      - description: Deployment of the secondary scheduler, namespaced name
        displayName: Scheduler deployment
        path: deployment
      - description: Scheduler name to be used in pod templates
        displayName: Scheduler name
        path: schedulerName
      version: v1alpha1
  description: NUMA resources exporter operator
  displayName: numaresources-operator
  icon:
  - base64data: iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAABHNCSVQICAgIfAhkiAAAAYNJREFUWIXt1T9rlEEQx/HPnecJGoKJhY+NEgW5VrCxSZpr0oWUKcRgYSoLGwv1RfgWfAnWFlZWKQIRJE00V6XwTxQsdSwygWV5DEeaS/EMLDPP/Gaf/e7swz49hBlaf5aLdwAdQAfQAZwfgLa7OP4TT6tPMw/6TQaPK+EAcxhlXNs3NDngaaUvpx8XuRv4g+clAOzjBRZaFprGPuN1ldtoqXuEXWzWAEdYwvczAiylH6W/iCctdZt4hit4UAJcwDAT984IsYVPGa+26CsY4D3e4MOJ0BA7x99GjIkgesQXYo4YZawaX4nrRJNzFoi9nBvE/fTjrI8ciDvEEXGZGJSU79I/xN+Mf2Gx2s0lzOMnrmbuB+4Wu98u6ufxGxPsZG6A9boDiJtJOskOILYL+n7Gb/O5KbQ14iPxqtj1mNgqaqg6UgMgXqZ4AnArn/fzOIK41gIwzKO5XQEEsVqtMSQOj49MBHpVm+tcfYHUWu+UuO39tT4zOx//gg6gA+gAOoBZ2j82IbSJZWt9tAAAAABJRU5ErkJggg==
    mediatype: image/png
  install:
    spec:
      clusterPermissions:
      - rules:
        - apiGroups:
          - ""
          resources:
          - configmaps
          verbs:
          - '*'
        - apiGroups:
          - ""
          resources:
          - events
          verbs:
          - create
          - patch
        - apiGroups:
          - ""
          resources:
          - pods
          verbs:
          - get
          - list
          - watch
        - apiGroups:
          - ""
          resources:
          - serviceaccounts
          verbs:
          - '*'
        - apiGroups:
          - apiextensions.k8s.io
          resources:
          - customresourcedefinitions
          verbs:
          - '*'
        - apiGroups:
          - apps
          resources:
          - daemonsets
          verbs:
          - '*'
        - apiGroups:
          - apps
          resources:
          - deployments
          verbs:
          - '*'
        - apiGroups:
          - config.openshift.io
          resources:
          - clusterversions
          verbs:
          - list
        - apiGroups:
          - machineconfiguration.openshift.io
          resources:
          - kubeletconfigs
          verbs:
          - get
          - list
          - watch
        - apiGroups:
          - machineconfiguration.openshift.io
          resources:
          - kubeletconfigs/finalizers
          verbs:
          - update
        - apiGroups:
          - machineconfiguration.openshift.io
          resources:
          - machineconfigpools
          verbs:
          - get
          - list
          - watch
        - apiGroups:
          - machineconfiguration.openshift.io
          resources:
          - machineconfigs
          verbs:
          - '*'
        - apiGroups:
          - nodetopology.openshift.io
          resources:
          - numaresourcesoperators
          verbs:
          - '*'
        - apiGroups:
          - nodetopology.openshift.io
          resources:
          - numaresourcesoperators/finalizers
          verbs:
          - update
        - apiGroups:
          - nodetopology.openshift.io
          resources:
          - numaresourcesoperators/status
          verbs:
          - get
          - patch
          - update
        - apiGroups:
          - nodetopology.openshift.io
          resources:
          - numaresourcesschedulers
          verbs:
          - create
          - delete
          - get
          - list
          - patch
          - update
          - watch
        - apiGroups:
          - nodetopology.openshift.io
          resources:
          - numaresourcesschedulers/finalizers
          verbs:
          - update
        - apiGroups:
          - nodetopology.openshift.io
          resources:
          - numaresourcesschedulers/status
          verbs:
          - get
          - patch
          - update
        - apiGroups:
          - rbac.authorization.k8s.io
          resources:
          - clusterrolebindings
          verbs:
          - '*'
        - apiGroups:
          - rbac.authorization.k8s.io
          resources:
          - clusterroles
          verbs:
          - '*'
        - apiGroups:
          - rbac.authorization.k8s.io
          resources:
          - rolebindings
          verbs:
          - '*'
        - apiGroups:
          - rbac.authorization.k8s.io
          resources:
          - roles
          verbs:
          - '*'
        - apiGroups:
          - security.openshift.io
          resources:
          - securitycontextconstraints
          verbs:
          - '*'
        - apiGroups:
          - topology.node.k8s.io
          resources:
          - noderesourcetopologies
          verbs:
          - create
          - get
          - list
          - update
        serviceAccountName: numaresources-controller-manager
      deployments:
      - name: numaresources-controller-manager
        spec:
          replicas: 1
          selector:
            matchLabels:
              control-plane: controller-manager
          strategy: {}
          template:
            metadata:
              annotations:
                target.workload.openshift.io/management: '{"effect": "PreferredDuringScheduling"}'
              labels:
                control-plane: controller-manager
            spec:
              affinity:
                nodeAffinity:
                  requiredDuringSchedulingIgnoredDuringExecution:
                    nodeSelectorTerms:
                    - matchExpressions:
                      - key: node-role.kubernetes.io/master
                        operator: Exists
              containers:
              - args:
                - --leader-elect
                - --enable-scheduler
                command:
                - /bin/numaresources-operator
                env:
                - name: PODNAME
                  valueFrom:
                    fieldRef:
                      fieldPath: metadata.name
                - name: NAMESPACE
                  valueFrom:
                    fieldRef:
                      fieldPath: metadata.namespace
                image: quay.io/openshift-kni/numaresources-operator:4.12.999-snapshot
                livenessProbe:
                  httpGet:
                    path: /healthz
                    port: 8081
                  initialDelaySeconds: 15
                  periodSeconds: 20
                name: manager
                readinessProbe:
                  httpGet:
                    path: /readyz
                    port: 8081
                  initialDelaySeconds: 5
                  periodSeconds: 10
                resources:
                  requests:
                    cpu: 100m
                    memory: 20Mi
                securityContext:
                  allowPrivilegeEscalation: false
              securityContext:
                runAsNonRoot: true
              serviceAccountName: numaresources-controller-manager
              terminationGracePeriodSeconds: 10
              tolerations:
              - effect: NoSchedule
                key: node-role.kubernetes.io/master
      permissions:
      - rules:
        - apiGroups:
          - ""
          resources:
          - configmaps
          verbs:
          - get
          - list
          - watch
          - create
          - update
          - patch
          - delete
        - apiGroups:
          - coordination.k8s.io
          resources:
          - leases
          verbs:
          - get
          - list
          - watch
          - create
          - update
          - patch
          - delete
        - apiGroups:
          - ""
          resources:
          - events
          verbs:
          - create
          - patch
        serviceAccountName: numaresources-controller-manager
    strategy: deployment
  installModes:
  - supported: true
    type: OwnNamespace
  - supported: true
    type: SingleNamespace
  - supported: false
    type: MultiNamespace
  - supported: false
    type: AllNamespaces
  keywords:
  - RTE
  - NUMA
  links:
  - name: Numaresources Operator
    url: https://github.com/openshift-kni/numaresources-operator
  maintainers:
  - email: fromani@redhat.com
    name: fromani
  maturity: alpha
  minKubeVersion: 1.23.0
  provider:
    name: Red Hat
  version: 4.12.999-snapshot
