---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.10.0
  creationTimestamp: null
  name: numaresourcesschedulers.nodetopology.openshift.io
spec:
  group: nodetopology.openshift.io
  names:
    kind: NUMAResourcesScheduler
    listKind: NUMAResourcesSchedulerList
    plural: numaresourcesschedulers
    shortNames:
    - numaressched
    singular: numaresourcesscheduler
  scope: Cluster
  versions:
  - name: v1
    schema:
      openAPIV3Schema:
        description: NUMAResourcesScheduler is the Schema for the numaresourcesschedulers
          API
        properties:
          apiVersion:
            description: 'APIVersion defines the versioned schema of this representation
              of an object. Servers should convert recognized schemas to the latest
              internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
            type: string
          kind:
            description: 'Kind is a string value representing the REST resource this
              object represents. Servers may infer this from the endpoint the client
              submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
            type: string
          metadata:
            type: object
          spec:
            description: NUMAResourcesSchedulerSpec defines the desired state of NUMAResourcesScheduler
            properties:
              cacheResyncDebug:
                description: Set the cache resync debug options. Defaults to disable.
                enum:
                - Disabled
                - DumpJSONFile
                type: string
              cacheResyncDetection:
                description: Set the cache resync detection mode. Default is to trigger
                  resyncs only when detected guaranteed QoS pods which require NUMA-specific
                  resources.
                enum:
                - Relaxed
                - Aggressive
                type: string
              cacheResyncPeriod:
                description: Set the cache resync period. Use explicit 0 to disable.
                type: string
              imageSpec:
                description: Scheduler container image URL
                type: string
              logLevel:
                default: Normal
                description: 'Valid values are: "Normal", "Debug", "Trace", "TraceAll".
                  Defaults to "Normal".'
                enum:
                - ""
                - Normal
                - Debug
                - Trace
                - TraceAll
                type: string
              schedulerInformer:
                description: Set the informer type to be used by the scheduler to
                  connect to the apiserver. Defaults to dedicated.
                enum:
                - Shared
                - Dedicated
                type: string
              schedulerName:
                description: Scheduler name to be used in pod templates
                type: string
              scoringStrategy:
                description: ScoringStrategy a scoring model that determine how the
                  plugin will score the nodes. Defaults to LeastAllocated.
                properties:
                  resources:
                    items:
                      properties:
                        name:
                          description: Name of the resource.
                          type: string
                        weight:
                          description: Weight of the resource.
                          format: int64
                          type: integer
                      required:
                      - name
                      type: object
                    type: array
                  type:
                    enum:
                    - MostAllocated
                    - BalancedAllocation
                    - LeastAllocated
                    type: string
                type: object
            required:
            - imageSpec
            type: object
          status:
            description: NUMAResourcesSchedulerStatus defines the observed state of
              NUMAResourcesScheduler
            properties:
              cacheResyncPeriod:
                description: CacheResyncPeriod shows the current cache resync period
                type: string
              conditions:
                description: Conditions show the current state of the NUMAResourcesOperator
                  Operator
                items:
                  description: "Condition contains details for one aspect of the current
                    state of this API Resource. --- This struct is intended for direct
                    use as an array at the field path .status.conditions.  For example,
                    \n type FooStatus struct{ // Represents the observations of a
                    foo's current state. // Known .status.conditions.type are: \"Available\",
                    \"Progressing\", and \"Degraded\" // +patchMergeKey=type // +patchStrategy=merge
                    // +listType=map // +listMapKey=type Conditions []metav1.Condition
                    `json:\"conditions,omitempty\" patchStrategy:\"merge\" patchMergeKey:\"type\"
                    protobuf:\"bytes,1,rep,name=conditions\"` \n // other fields }"
                  properties:
                    lastTransitionTime:
                      description: lastTransitionTime is the last time the condition
                        transitioned from one status to another. This should be when
                        the underlying condition changed.  If that is not known, then
                        using the time when the API field changed is acceptable.
                      format: date-time
                      type: string
                    message:
                      description: message is a human readable message indicating
                        details about the transition. This may be an empty string.
                      maxLength: 32768
                      type: string
                    observedGeneration:
                      description: observedGeneration represents the .metadata.generation
                        that the condition was set based upon. For instance, if .metadata.generation
                        is currently 12, but the .status.conditions[x].observedGeneration
                        is 9, the condition is out of date with respect to the current
                        state of the instance.
                      format: int64
                      minimum: 0
                      type: integer
                    reason:
                      description: reason contains a programmatic identifier indicating
                        the reason for the condition's last transition. Producers
                        of specific condition types may define expected values and
                        meanings for this field, and whether the values are considered
                        a guaranteed API. The value should be a CamelCase string.
                        This field may not be empty.
                      maxLength: 1024
                      minLength: 1
                      pattern: ^[A-Za-z]([A-Za-z0-9_,:]*[A-Za-z0-9_])?$
                      type: string
                    status:
                      description: status of the condition, one of True, False, Unknown.
                      enum:
                      - "True"
                      - "False"
                      - Unknown
                      type: string
                    type:
                      description: type of condition in CamelCase or in foo.example.com/CamelCase.
                        --- Many .condition.type values are consistent across resources
                        like Available, but because arbitrary conditions can be useful
                        (see .node.status.conditions), the ability to deconflict is
                        important. The regex it matches is (dns1123SubdomainFmt/)?(qualifiedNameFmt)
                      maxLength: 316
                      pattern: ^([a-z0-9]([-a-z0-9]*[a-z0-9])?(\.[a-z0-9]([-a-z0-9]*[a-z0-9])?)*/)?(([A-Za-z0-9][-A-Za-z0-9_.]*)?[A-Za-z0-9])$
                      type: string
                  required:
                  - lastTransitionTime
                  - message
                  - reason
                  - status
                  - type
                  type: object
                type: array
              deployment:
                description: Deployment of the secondary scheduler, namespaced name
                properties:
                  name:
                    type: string
                  namespace:
                    type: string
                type: object
              relatedObjects:
                description: RelatedObjects list of objects of interest for this operator
                items:
                  description: ObjectReference contains enough information to let
                    you inspect or modify the referred object.
                  properties:
                    group:
                      description: group of the referent.
                      type: string
                    name:
                      description: name of the referent.
                      type: string
                    namespace:
                      description: namespace of the referent.
                      type: string
                    resource:
                      description: resource of the referent.
                      type: string
                  required:
                  - group
                  - name
                  - resource
                  type: object
                type: array
              schedulerName:
                description: Scheduler name to be used in pod templates
                type: string
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
  - name: v1alpha1
    schema:
      openAPIV3Schema:
        description: NUMAResourcesScheduler is the Schema for the numaresourcesschedulers
          API
        properties:
          apiVersion:
            description: 'APIVersion defines the versioned schema of this representation
              of an object. Servers should convert recognized schemas to the latest
              internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
            type: string
          kind:
            description: 'Kind is a string value representing the REST resource this
              object represents. Servers may infer this from the endpoint the client
              submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
            type: string
          metadata:
            type: object
          spec:
            description: NUMAResourcesSchedulerSpec defines the desired state of NUMAResourcesScheduler
            properties:
              cacheResyncPeriod:
                description: Set the cache resync period. Use explicit 0 to disable.
                type: string
              imageSpec:
                description: Scheduler container image URL
                type: string
              logLevel:
                default: Normal
                description: 'Valid values are: "Normal", "Debug", "Trace", "TraceAll".
                  Defaults to "Normal".'
                enum:
                - ""
                - Normal
                - Debug
                - Trace
                - TraceAll
                type: string
              schedulerName:
                description: Scheduler name to be used in pod templates
                type: string
            required:
            - imageSpec
            type: object
          status:
            description: NUMAResourcesSchedulerStatus defines the observed state of
              NUMAResourcesScheduler
            properties:
              conditions:
                description: Conditions show the current state of the NUMAResourcesOperator
                  Operator
                items:
                  description: "Condition contains details for one aspect of the current
                    state of this API Resource. --- This struct is intended for direct
                    use as an array at the field path .status.conditions.  For example,
                    \n type FooStatus struct{ // Represents the observations of a
                    foo's current state. // Known .status.conditions.type are: \"Available\",
                    \"Progressing\", and \"Degraded\" // +patchMergeKey=type // +patchStrategy=merge
                    // +listType=map // +listMapKey=type Conditions []metav1.Condition
                    `json:\"conditions,omitempty\" patchStrategy:\"merge\" patchMergeKey:\"type\"
                    protobuf:\"bytes,1,rep,name=conditions\"` \n // other fields }"
                  properties:
                    lastTransitionTime:
                      description: lastTransitionTime is the last time the condition
                        transitioned from one status to another. This should be when
                        the underlying condition changed.  If that is not known, then
                        using the time when the API field changed is acceptable.
                      format: date-time
                      type: string
                    message:
                      description: message is a human readable message indicating
                        details about the transition. This may be an empty string.
                      maxLength: 32768
                      type: string
                    observedGeneration:
                      description: observedGeneration represents the .metadata.generation
                        that the condition was set based upon. For instance, if .metadata.generation
                        is currently 12, but the .status.conditions[x].observedGeneration
                        is 9, the condition is out of date with respect to the current
                        state of the instance.
                      format: int64
                      minimum: 0
                      type: integer
                    reason:
                      description: reason contains a programmatic identifier indicating
                        the reason for the condition's last transition. Producers
                        of specific condition types may define expected values and
                        meanings for this field, and whether the values are considered
                        a guaranteed API. The value should be a CamelCase string.
                        This field may not be empty.
                      maxLength: 1024
                      minLength: 1
                      pattern: ^[A-Za-z]([A-Za-z0-9_,:]*[A-Za-z0-9_])?$
                      type: string
                    status:
                      description: status of the condition, one of True, False, Unknown.
                      enum:
                      - "True"
                      - "False"
                      - Unknown
                      type: string
                    type:
                      description: type of condition in CamelCase or in foo.example.com/CamelCase.
                        --- Many .condition.type values are consistent across resources
                        like Available, but because arbitrary conditions can be useful
                        (see .node.status.conditions), the ability to deconflict is
                        important. The regex it matches is (dns1123SubdomainFmt/)?(qualifiedNameFmt)
                      maxLength: 316
                      pattern: ^([a-z0-9]([-a-z0-9]*[a-z0-9])?(\.[a-z0-9]([-a-z0-9]*[a-z0-9])?)*/)?(([A-Za-z0-9][-A-Za-z0-9_.]*)?[A-Za-z0-9])$
                      type: string
                  required:
                  - lastTransitionTime
                  - message
                  - reason
                  - status
                  - type
                  type: object
                type: array
              deployment:
                description: Deployment of the secondary scheduler, namespaced name
                properties:
                  name:
                    type: string
                  namespace:
                    type: string
                type: object
              schedulerName:
                description: Scheduler name to be used in pod templates
                type: string
            type: object
        type: object
    served: true
    storage: false
    subresources:
      status: {}
