name: CI Build

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

defaults:
  run:
    shell: bash

jobs:
  build:
    runs-on: ubuntu-20.04
    steps:
    - name: Check out code
      uses: actions/checkout@v2

    - name: Set up golang
      uses: actions/setup-go@v2
      with:
        go-version: 1.18.1

    - name: Verify modules
      run: go mod verify

    - name: Verify generated content
      run: make verify-generated

    - name: Vetting
      run: make vet

    - name: Build operand
      run: make binary

    - name: Build operator
      run: make binary-rte

    - name: Run unit tests
      run: make test-unit
