name: CI Lint custom

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

defaults:
  run:
    shell: bash

jobs:
  golint:
    runs-on: ubuntu-latest
    env:
      GOLANGCI_LINT_VERSION: "1.41.1"
    steps:
    - name: Check out code
      uses: actions/checkout@v3

    - name: Set up golang
      uses: actions/setup-go@v3
      with:
        go-version: 1.20.6

    - name: Fetch golangci-lint
      run: |
        curl -L -o golangci-lint.tar.gz https://github.com/golangci/golangci-lint/releases/download/v$GOLANGCI_LINT_VERSION/golangci-lint-$GOLANGCI_LINT_VERSION-linux-amd64.tar.gz
        tar zxvf golangci-lint.tar.gz

    - name: Verify
      run: |
        ./golangci-lint-$GOLANGCI_LINT_VERSION-linux-amd64/golangci-lint run --timeout=15m0s --verbose --out-format=github-actions
