name: CI Linter with golangci-lint

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

defaults:
  run:
    shell: bash

jobs:
  build:
    runs-on: ubuntu-22.04
    steps:
    - name: Check out code
      uses: actions/checkout@v4

    - name: Set up golang
      uses: actions/setup-go@v5
      with:
        go-version: 1.22.4

    - name: Run Linter
      run: make golangci-lint
