name: CI testsuite release flow

on:
  workflow_dispatch:

defaults:
  run:
    shell: bash

jobs:
  release-build:
    runs-on: ubuntu-20.04
    steps:
      - name: Checkout sources
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      # note the version is hardcoded here because
      # we expect to refresh from main branch
      - name: Build Image
        id: build-image
        uses: redhat-actions/buildah-build@v2
        with:
          image: numaresources-operator-tests
          tags: 4.18.999-snapshot
          dockerfiles: |
            ./Dockerfile.tests

      - name: Push to quay
        id: push-to-quay
        uses: redhat-actions/push-to-registry@v2
        with:
          image: ${{ steps.build-image.outputs.image }}
          tags: ${{ steps.build-image.outputs.tags }}
          registry: quay.io/openshift-kni
          username: ${{ secrets.QUAY_IO_USERNAME }}
          password: ${{ secrets.QUAY_IO_ROBOTOKEN }}

      - name: Print image url
        run: echo "Image pushed to ${{ steps.push-to-quay.outputs.registry-paths }}"
